@import "./variables.scss";

@font-face {
  font-family: 'Inter';
  src: url('~/assets/fonts/Inter-Variable.ttf') format('truetype');
}

//

:root {
  --surfaceDim: #fff;
  --surface: #fff;
  --surfaceBright: #fff;
  --surfaceContainerLowest: #fff;
  --surfaceContainerLow: #fff;
  --surfaceContainer: #fff;
  --surfaceContainerHigh: #fff;
  --surfaceContainerHighest: #fff;
  --onSurface: #000;
  --onSurfaceDim: #000;
  --onSurfaceDimmer: #000;
  --outline: #000;
  --outlineDim: #000;
  --outlineDimmer: #000;
  --primary: #000;
  --onPrimary: #000;
  --primaryContainer: #000;
  --onPrimaryContainer: #000;
  --secondary: #000;
  --onSecondary: #000;
  --secondaryContainer: #000;
  --onSecondaryContainer: #000;
  --danger: #000;
  --onDanger: #000;
  --dangerContainer: #000;
  --onDangerContainer: #000;
}

* {
  font-family: 'Inter', 'Montserrat', 'Roboto', sans-serif;
}

// ::-webkit-scrollbar { width: 0; height: 0; }
// ::-webkit-scrollbar-track { background-color: transparent; }
// ::-webkit-scrollbar-thumb { background-color: transparent; }
// ::-webkit-scrollbar-thumb:hover { background-color: transparent; }

body {
  inset: 0;
  margin: 0;
  padding: 0;
  overflow: hidden scroll;
  background-color: $surface;
}

//


h1 {
  font-weight: 650;
  font-size: 24pt;
  color: $onSurface;
}

h2 {
  font-weight: 650;
  font-size: 18pt;
  color: $onSurface;
  margin-top: 40pt;
  margin-bottom: 20pt;
}

h3 {
  font-weight: 650;
  font-size: 13pt;
  color: $onSurface;
}

p, span, input, button {
  font-weight: 400;
  font-size: 11pt;
  color: $onSurface;
  line-height: 1.05em;
}
