/* COLORS */
$backpage: #ffffff;
$bg-dark: #efefef;
$bg-darker: #d6d6d6;

$color-header: #000000;
$color-major: #111111;
$color-regular: #333333;
$color-sub: #666666;
$color-minor: #888888;
$color-hyperlink: #317dd4;

$brand-dark: #85ada2;
$brand-light: #cadfd8;


/* General */
$font-header: "Montserrat 800", "Roboto", sans-serif;
$font-major: "Montserrat 600", "Roboto", sans-serif;
$font-regular: "Montserrat 500", "Roboto", sans-serif;
$font-sub: "Montserrat 300", "Roboto", sans-serif;
$font-minor: "Montserrat 300", "Roboto", sans-serif;


/* Components */
$padding: 15pt;
$content-width: 1000px;
$content-height: 30pt;
$br: 15pt;
