
$surfaceDim: var(--surfaceDim);
$surface: var(--surface);
$surfaceBright: var(--surfaceBright);
$surfaceContainerLowest: var(--surfaceContainerLowest);
$surfaceContainerLow: var(--surfaceContainerLow);
$surfaceContainer: var(--surfaceContainer);
$surfaceContainerHigh: var(--surfaceContainerHigh);
$surfaceContainerHighest: var(--surfaceContainerHighest);
$onSurface: var(--onSurface);
$onSurfaceDim: var(--onSurfaceDim);
$onSurfaceDimmer: var(--onSurfaceDimmer);
$outline: var(--outline);
$outlineVariant: var(--outlineVariant);
$primary: var(--primary);
$onPrimary: var(--onPrimary);
$primaryContainer: var(--primaryContainer);
$onPrimaryContainer: var(--onPrimaryContainer);
$secondary: var(--secondary);
$onSecondary: var(--onSecondary);
$secondaryContainer: var(--secondaryContainer);
$onSecondaryContainer: var(--onSecondaryContainer);
$danger: var(--danger);
$onDanger: var(--onDanger);
$dangerContainer: var(--dangerContainer);
$onDangerContainer: var(--onDangerContainer);
$warn: var(--warn);
$onWarn: var(--onWarn);
$warnContainer: var(--warnContainer);
$onWarnContainer: var(--onWarnContainer);
